/* .array-bar {
    width: 2px;
    height: 30px;
    margin: 0 1px;
    background-color:blue;
    display: inline-block;

}

.array-container {
    position: absolute;
    left: 60px;
}

button {
    margin-right: 10px;
} */

.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }